<h3>Create a new post:</h3>


<form>
	Title:
	<input type='text' name='title'>
	</br>
	URL:
	<imnput type='text' name='url'>
	</br>
	<input type='submit'>
</form>

<h5>Non-model backed form helpers</h5>
<% form_tag '/posts' do %>
	<%= label_tag :title %>
	<%= text_field_tag :title %>
	<br/>
	<%= label_tag :url %>
	<%= text_field_tag :url %>
	<br/>
	<%= submit_tag "Create Post" %>
<% end %>

<h5>Model backed form helpers</h5>
<% if @post.errors.any? %>

	<div class='alert alert-error'>
		<%= @post.errors.full_messages.join(', ') %></div>
<% end%>

<%= form_for @post do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br/>
	<%= f.label :utl %>
	<%= f.text_field :url %>
	<br/>
<% end %>
